.body {
  background-color: #E9EBEE;
}

.title {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px; 
  text-align: center;
}

.table-title{
  background-color: #F6F7F9;
}

.table-elements {
  background-color: white;
}

.table {
  margin: 0 auto;
  width: 800px;
  height: 1200px;
  background-color: #F6F7F9;
}

table {
  width: 100%;
  text-align: center;
}