body {
  background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/APBDJIC32G.jpg');
  background-repeat: none;
  background-size: cover;
}
.container {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.title {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  & p{ font-size: 50px; font-weight: 500;}
}

.receipes-container {
  background-color: white;
  border-radius: 10px !important;
  margin: 0 auto;
  padding: 10px;
}
.recipe-title {
  margin-top: 10px;
  color: #385997;
  border-bottom: 1px solid red;
  &:hover {cursor: pointer;}
}

.recipe-box {
  padding: 5px;
}

.info-container {
  width: 100%;
  color: black;
  .info-title {text-align: center; font-size: 25px; }
  .single-ingredient{background-color: #E9EBEE; color: #37404f; border-radius: 5px; margin-bottom: 10px; padding-left: 10px;}
  .procedure {
    background-color: #E9EBEE; padding: 10px;
    .subtitle { text-align: center; width: 100%; font-size: 20px; margin-bottom: 10px; }
  }
}

